.yarn
.gitlab
.turbo
.yarnrc.yml
**/.git
**/.gradle
**/.idea
**/.jest
**/artifacts
**/.vscode
**/.cocoapods
**/fastlane
**/node_modules
**/dist
**/coverage
**/build
**/storyLoader.js
**/apidocs
**/CHANGELOG.md
**/*.json.hbs
**/*.js.hbs
**/.changes
**/animations/**/*.json
